.signup_container {
  background-color: white;
  padding: 30px 20px;
  h2 {
    margin: 0px 20px 20px 20px;
    background-color: white;
    text-align: center;
  }
  .hidden {
    display: none;
  }
}
